.article{
	
	margin-bottom: 1em;
	overflow: hidden;

	&.first{
		margin-top: 4em;
	}
	
	a.more{
		font-style: italic;
	}
	
}

.article-full{
	
	@extend .article;
	
	margin-top: 4em;

	h3{
		font-family: $display-font-family;
		font-size: 1.8em;
		line-height: 1.5em;
		margin: 1em 0em;
		color: #333;
	}

}

.paged .article{
	margin-top: 6em;
}

.article-heading a:hover{
	text-decoration: none;
	color: #cc0000;
}

.article-date {
	margin-bottom: 2em;
	margin-top: 0px;
	font-style: italic;
	font-size: 1.6em;
	color: #999;
	> time{
		font-style: normal;
		font-weight: bold;
		color: #333;
	}
}


