#sidebar h2{
	font-family: "myriad-pro",Verdana,arial,sans-serif;
	font-weight: normal;
	font-size: 1.6em;
	margin-bottom: 2em;
}

#sidebar p{
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: "myriad-pro",Verdana,arial,sans-serif;
	font-weight: 100;
}