.sidebar-section > h2{
	margin-bottom: 1em;
	font-family: $display-font-family;
	font-weight: normal;
	font-size: 1.6em;
}

.sidebar-section > p{
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: $primary-font-family;
	font-weight: 100;
}

.sidebar-section a{
	color: #c00;
}

.tweet-list > ul{
	font-size: 1.4em;
	font-family: $primary-font-family;
	font-weight: 100;
	font-style: italic;
	padding: 0em;
}

.tweet-list > ul > li{
	margin-bottom: .5em;
	list-style: none;
}