.sidebar-section > h2{
	font-family: $primary-font-family;
	font-weight: normal;
	font-size: 1.6em;
	margin-bottom: 2em;
}

.sidebar-section > p{
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: $primary-font-family;
	font-weight: 100;
}