#footer{
	clear: both;
	margin-bottom: 3em;
	padding-top: 3em;
	padding-bottom: 3em;
	font-family: "myriad-pro-condensed",Verdana,arial,sans-serif;
	font-weight: 100;
	border-top: 1px solid #eee;
	width: 100%;
	margin: 0px auto;
}

#footer > p{
	font-size: 1.6em;
	line-height: 1.5em;
}

#footer > p > strong{
	font-weight: normal;
}