.heading-branding{
	
	font-weight: 100; 
	font-size: 3.5em;
	font-family: "myriad-pro-condensed",Verdana,arial,sans-serif;
	line-height: 1.5em;
	
	b{
		font-weight: 400;
	}
	
	a{
		color: #333;
		&:hover{
			text-decoration: none;
			color: #c00;
		}
	}

}
